/src/obj
/src/bin
/test/obj
/test/bin
/.vs
/bin
/obj
/src/.vs
/src/.sonarqube
/src/Artifacts
/test/TestResults
/src/HomeControllerHUB.Application/obj
/src/HomeControllerHUB.Application/bin
/src/HomeControllerHUB.Application/.vs
/src/HomeControllerHUB.Domain/obj
/src/HomeControllerHUB.Domain/bin
/src/HomeControllerHUB.Infrastructure/obj
/src/HomeControllerHUB.Infrastructure/bin
/src/HomeControllerHUB.Api/obj
/src/HomeControllerHUB.Api/bin
/src/HomeControllerHUB.Api/*.user
/src/HomeControllerHUB.Web.Core/obj
/src/HomeControllerHUB.Web.Core/bin
/src/HomeControllerHUB.Application.Core/obj
/src/HomeControllerHUB.Application.Core/bin
/src/HomeControllerHUB.Caching/obj
/src/HomeControllerHUB.Caching/bin
/src/HomeControllerHUB.Entities/obj
/src/HomeControllerHUB.Entities/bin
/src/HomeControllerHUB.Globalization/obj
/src/HomeControllerHUB.Globalization/bin
/src/HomeControllerHUB.Library/obj
/src/HomeControllerHUB.Library/bin
/src/HomeControllerHUB.Shared/obj
/src/HomeControllerHUB.Shared/bin
/src/HomeControllerHUB.Security/obj
/src/HomeControllerHUB.Security/bin
/test/HomeControllerHUB.Application.IntegrationTests/bin
/test/HomeControllerHUB.Application.IntegrationTests/obj
/test/HomeControllerHUB.Application.Tests/bin
/test/HomeControllerHUB.Application.Tests/obj
/test/HomeControllerHUB.Domain.Tests/obj
/test/HomeControllerHUB.Domain.Tests/bin
/test/HomeControllerHUB.Infrastructure.Tests/bin
/test/HomeControllerHUB.Infrastructure.Tests/obj
/test/HomeControllerHUB.Api.Tests/obj
/test/HomeControllerHUB.Api.Tests/bin
/NuGet.Config
.idea
.vs